#ACTION=="mount", TAG+="systemd", ENV{SYSTEMD_WANTS}="vlc-slideshow.service"
ACTION=="add", , KERNEL=="sd*[1-9]" SUBSYSTEM=="block", TAG+="systemd", ENV{SYSTEMD_WANTS}="vlc-slideshow.service"

